<script  src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
<script src="js/script.js"></script>
<html>
  <head>
  </head>
  <body>
    <h1> Enter command </h1>
    <p id="instructions"></p>
    <form>
      <textarea style="width: 500px; height: 400px"></textarea>
    </form>
  </body>
</html>
